*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family:"Poppins";
    background-color: rgba(0, 128, 0, 0.767);
}
.logo{
 width: 50px;
 height: 50px; 

}
.logo img{
 width: 50px;
 height: 50px; 
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 128, 0, 0.767);
    top: 0;
    position: sticky;
    padding: 20px 50px;
    align-items: center;
}

.nav-bar{
padding: 20px 20px;
}

.nav-bar a{
 text-decoration: none;
 padding: 20px;
 font-size: 22px;
 color: white;
 padding-top: 30px;
}
.nav-bar i{
    font-size: 30px;
    color: white;
    display: none;
}

a:hover{
    text-decoration: underline;
    padding-top: 30px;
    transition: ease-out;
}



.hero{
    background-image: linear-gradient(rgba(15, 14, 15, 0.723),rgba(15, 15, 15, 0.841)),url("../images/WhatsApp\ Image\ 2024-08-11\ at\ 23.49.47_d12ae6c8.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    font-size: 4rem; 
    text-align: left;
    display: flex; 
    justify-content:center ;
    flex-direction: column;
    margin-bottom: 15%;
    width: 100%;
    height: 100vh;
    padding: 0 50px;

}
.title {
    font-size: 5rem;
    font-family: "Matemasie", sans-serif;

}

.hero h2{
    text-align: left;
    color: rgb(241, 235, 235);
    font-weight: 400px;
    word-spacing: 14px;
    font-size: 60px;
}


.Home{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 80px;
    border-bottom: 2px solid rgb(128, 128, 128);
    padding-top: 60px;
}


.Hairstyles{
text-align: center;
font-size: 50px;
}


.img-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.grid-container div{
    width: 380px;
    height: 380px;
}
.grid-container{
display: grid;
grid-template-columns: auto auto auto auto;
row-gap: 10px;
column-gap: 10px;
}


.about{
    text-align: center;
    font-size: 100px;
    border-bottom: 2px solid grey;
}

.s-heading{
    text-align: center;
    font-size: 50px;
    padding-top: 90px;
}

p{
    word-spacing: 5px;
    font-size: 40px;
    color: white;
}

.sub-head-2{
    color: white;
    font-size: 50px;
}

.subhead{
    font-size: 40px;
    padding-bottom: 60px;
}

.img-2{
    width: 500px;
    height: 500px;
    padding-top: 50px;
}

h2{
    color: white;
}

h3{
    color:white;
}



button{
    font-size: 50px;
    width: 20%;
    height: 20%;
    margin: 20px;

}

.contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid rgb(128, 128, 128);
    padding-top: 200ppx;
}

input{
 font-size: 40px;
 background-color: green; 
 display: flex; 
 margin: 20px;
 padding: 40px;
 justify-content: center;
 align-items: center;
}

@media only screen and (max-width: 696px) {
    .nav-bar a{
        display: none;
        padding: 50px 50px;
}
.nav-bar i{
    display: block;
}

.logo img{
    width: 30px;
    height: 30px;
}
.title{
    font-size: 4rem;
}
.hero{
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.hero .sub-head-2 {
    font-size: 20px;
}
.hero .heading{
    font-size: 20px;
}
.hero .title{
    font-size: 30px;
}


.grid-container{
    grid-template-columns: auto;
    justify-content: center;
}
 p{
 font-size: 27px;   
 }

 input{
    align-items: center;
    justify-content: center;
    font-size: 30px;
 }

.about{
 font-size: 50px;   
}

 button{
    font-size: 30px;
 }

img{
    width: 60%;
}
}

.link{
  justify-content: space-between;
  font-size: 29px; 
  align-items: center; 
  padding: 20px;
  text-decoration: none;
}

.services{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

li{
    padding-left: 20px;
    font-size: 30px;
}

.our{
    text-align: center;
    font-size: 40px;
}

p{
    color: black;
    padding-left: 30px;
}

span{
    color: green;
    font-size: 60px;
}

.hours{
    font-size: 50px;
    padding-top: 40px;
    padding-left: 20px;
}

.OPERATION{
    padding: 0 20px 20px 20px;
}

.we{
    padding-left: 20px 20px;
    color: black;
}

.sub-link{
color: black;
}

.day{
    color: black;
    font-size: 30px;
padding-left: 100px;
    padding-top: 20px;
}

.date{
    color: black;
    font-size: 30px;
padding-left: 100px;    
    padding-top: 20px;
}

.ps{
font-size: 30px;
padding: 30px;
}

img{
    width: 10%;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    margin-top: 50px;
}

.studio{
    font-size: 50px;
    text-align: center;
    padding-top: 200px;
}


